# Default values for ai-agent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: "940333627479.dkr.ecr.us-east-1.amazonaws.com/ai-agent-web"  # Will be set to the ECR image URI
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80               # External access on standard HTTP port
  targetPort: 3000       # Forward to container's 3000

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/limit-rpm: "600"
    nginx.ingress.kubernetes.io/proxy-body-size: "64m"
    nginx.ingress.kubernetes.io/client-max-body-size: "64m"
    ingress.kubernetes.io/proxy-connect-timeout: "120"
    ingress.kubernetes.io/proxy-send-timeout: "7200"
    ingress.kubernetes.io/proxy-read-timeout: "7200"
    # nginx.ingress.kubernetes.io/configuration-snippet: |
    #   more_set_headers "Content-Security-Policy: default-src 'self'; script-src 'self' https://verify.walletconnect.com https://fwd.metamask.io https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js https://cdn.plaid.com/link/v2/stable/link-initialize.js 'unsafe-eval'; connect-src 'self' https://*.knowins.com https://communication.knowins.com/ wss://communication.knowins.com/ wss://relay.walletconnect.com wss://relay.walletconnect.org https://api.cloudinary.com/v1_1/dsaw7i5t3/image/upload https://fwd.metamask.io https://cdn.plot.ly/world_110m.json https://a.tile.openstreetmap.org/2/0/0.png https://a.tile.openstreetmap.org/2/0/1.png https://a.tile.openstreetmap.org/2/0/2.png https://a.tile.openstreetmap.org/2/0/3.png https://a.tile.openstreetmap.org/2/1/0.png https://a.tile.openstreetmap.org/2/1/1.png https://a.tile.openstreetmap.org/2/1/2.png https://a.tile.openstreetmap.org/2/1/3.png https://a.tile.openstreetmap.org/2/2/0.png https://a.tile.openstreetmap.org/2/2/1.png https://a.tile.openstreetmap.org/2/2/2.png https://a.tile.openstreetmap.org/2/2/3.png https://a.tile.openstreetmap.org/2/3/0.png https://a.tile.openstreetmap.org/2/3/1.png https://a.tile.openstreetmap.org/2/3/2.png https://a.tile.openstreetmap.org/2/3/3.png https://b.tile.openstreetmap.org/2/0/0.png https://b.tile.openstreetmap.org/2/0/1.png https://b.tile.openstreetmap.org/2/0/2.png https://b.tile.openstreetmap.org/2/0/3.png https://b.tile.openstreetmap.org/2/1/0.png https://b.tile.openstreetmap.org/2/1/1.png https://b.tile.openstreetmap.org/2/1/2.png https://b.tile.openstreetmap.org/2/1/3.png https://b.tile.openstreetmap.org/2/2/0.png https://b.tile.openstreetmap.org/2/2/1.png https://b.tile.openstreetmap.org/2/2/2.png https://b.tile.openstreetmap.org/2/2/3.png https://b.tile.openstreetmap.org/2/3/0.png https://b.tile.openstreetmap.org/2/3/1.png https://b.tile.openstreetmap.org/2/3/2.png https://b.tile.openstreetmap.org/2/3/3.png ; font-src 'self' data: https://fonts.gstatic.com https://fonts.googleapis.com; img-src * 'self' blob: data: https://res.cloudinary.com/dsaw7i5t3/; style-src 'self' https://knowins.com/legacy/classic/resources/MoneFox-all.css https://fonts.googleapis.com 'unsafe-inline'; frame-src 'self' https://verify.walletconnect.com/ https://cdn.plaid.com/; worker-src 'self' blob: data: https://knowins.com/;";
    #   more_set_headers "Referrer-Policy: strict-origin-when-cross-origin";
    #   more_set_headers "Feature-Policy: camera 'none'; microphone 'none'; geolocation 'none'; encrypted-media 'none'; payment 'none'; speaker-selection 'none'; usb 'none';";
    #   more_set_headers "X-Frame-Options: sameorigin";
    #   more_set_headers "X-Content-Type-Options: nosniff";
  hosts:
    - host: dev.ai-agent.zeroproofai.com 
      paths: ["/"]
  tls:
    - secretName: ai-agent-zeroproofai-dev-tls
      hosts:
        - dev.ai-agent.zeroproofai.com 

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

volumes:
  - name: config
    configMap:
      name: ai-agent-config